* {
  margin: 0;
  padding: 0;
}
#chart-container {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
